* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 320px;
  min-height: 640px;
  height: 100%
}

.container {
  min-width: 320px;
  height: 100%;
  display: flex;
  background: #8a2846;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
  font-size: 16px;
}

.drag-area {
  border: 4px dashed #fff;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  transition: opacity .2s ease, background .2s ease, outline-color .2s ease-in;
  position: relative;
  overflow: hidden;
  outline: 4px solid transparent;
  outline-offset: -4px;
}

.drag-area:not(.has-image):hover {
  cursor: pointer;
  opacity: .5;
  background-color: #b9375e;
  outline-color: #fff;
}

.drag-area:not(.has-image) canvas {
  display: none;
}

.drag-area.has-image {
  background: linear-gradient(to bottom left, #8a2847, #e05881);
  outline-color: #fff;
  cursor: move;
}

.drag-area header {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}

.drag-area.has-image header {
  display: none;
}

.drag-area canvas {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: opacity .2s ease;
}

.drag-area:before {
  pointer-events: none;
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 150px;
  opacity: 0;
  aspect-ratio: 1;
  background: no-repeat linear-gradient(#fff 0 0) 0% 50%, no-repeat linear-gradient(#fff 0 0) 50% 50%, no-repeat linear-gradient(#fff 0 0) 100% 50%;
  background-size: 20% 100%;
  animation: load 1s infinite linear;
  transition: opacity .2s ease;
}

.drag-area.loading:before {
  opacity: 1;
}

@keyframes load {
  0% {background-size: 20% 100%, 20% 100%, 20% 100%}
  33% {background-size: 20% 10%, 20% 100%, 20% 100%}
  50% {background-size: 20% 100%, 20% 10%, 20% 100%}
  66% {background-size: 20% 100%, 20% 100%, 20% 10%}
  100% {background-size: 20% 100%, 20% 100%, 20% 100%}
}

canvas {
  image-rendering: crisp-edges;
}

.settings-form {
  display: flex;
  color: #fff;
  width: 100%;
  background-color: #602437;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-form label {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid #fff;
}

.settings-form > div {
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.input-container > input[type=checkbox],
.input-container > .color-container,
.input-container > .dimension-container {
  align-self: center;
}

input {
  accent-color: #e05780;
}

input[type=color],
input[type=checkbox] {
  cursor: pointer;
}

input[type=color][disabled] {
  opacity: .2;
  background-color: #ccc;
  cursor: auto;
}

.settings-form input:not([type=checkbox]) {
  display: inline-block;
  width: 100%;
  height: 2rem;
  text-align: right;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.color-container {
  display: flex;
  flex-direction: row;
  width: 6rem;
}

input[type=checkbox] {
  height: 1.5rem;
  width: 1.5rem;
  margin: auto 0;
}

.settings-form input[type=number] {
  border-bottom: 2px solid #fff;
  padding: .2rem;
  background-color: #8a2846;
  outline: 2px solid transparent;
  transition: outline-color .2s ease, border-color .2s ease;
}

.settings-form input[type=number]:hover {
  border-color: #e05780;
}

.settings-form input[type=number]:focus {
  outline-color: #e05780;
  border-color: #e05780;
}

.settings-form input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 2px solid #fff;
  width: calc(100% - 2rem);
  margin-left: auto;
  transition: outline .2s ease, opacity .2s ease;
}

.settings-form input[type=color]::-webkit-color-swatch,
.settings-form input[type=color]::-moz-color-swatch {
  border: none;
}

.settings-form input[type=color]:focus {
  outline-color: #e05780;
}

.settings-form .settings-buttons {
  margin-top: 2rem;
  width: 100%;
  align-self: flex-end;
}

.settings-buttons button {
  background-color: #e05780;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: .5rem .75rem;
  cursor: pointer;
  font-weight: 500;
  outline: 2px solid transparent;
  transition: opacity .2s ease, background .2s ease, outline .2s ease;
}

.settings-buttons button:focus {
  outline-color: #e05780;
}

.settings-buttons button[disabled] {
  cursor: auto;
  opacity: .8;
  background-color: #ffc2d4;
}

.settings-buttons button:not(:last-of-type) {
  margin-bottom: .5rem;
}

.modal .settings-form .settings-buttons {
  width: 100%;
  max-height: auto;
  flex-direction: column;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.container .settings-form {
  overflow: auto;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0rem;
  min-height: 640px;
  justify-content: flex-start;
  min-width: 320px;
  transition: height .2s ease, min-height .2s ease;
}

.container .settings-form.collapse {
  height: 4rem;
  overflow: hidden;
  min-height: 0;
}

.toggle-button {
  width: 100%;
  height: 1rem;
  border: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='none' stroke='%23fff' d='M0 1h8M0 4h8M0 7h8'/%3E%3C/svg%3E");
  background-size: 1rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .2s ease;
  padding: 1rem 3rem;
  cursor: pointer;
}

@media (min-width: 320px) {
  .container .settings-form {
    right: 0;
    width: 320px;
  }
}

.number-input {
  display: flex;
  flex-direction: row;
  width: 4.5rem;
}

.dimension-container {
  position: relative;
  height: 8rem;
  width: 13rem;
}

.dimension-container.short {
  height: 5rem;
}

.dimension-container > div,
.dimension-container > input {
  position: absolute;
}

.dimension-container > div:nth-of-type(1) {
  top: 0;
  left: calc(50% + .5rem);
  transform: translateX(-50%);
}

.dimension-container > div:nth-of-type(2) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.dimension-container > div:nth-of-type(3) {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.dimension-container > div:nth-of-type(4) {
  bottom: 0;
  left: calc(50% + .5rem);
  transform: translateX(-50%);
}

.dimension-container.short > div:nth-of-type(2) {
  top: auto;
  transform: none;
  bottom: 0;
}

.sync-toggle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  appearance: none;
  position: relative;
  transition: opacity .2s ease;
}

.short .sync-toggle {
  top: auto;
  bottom: 0;
  transform: translate(-50%, -15%) rotate(45deg);
}

.sync-toggle::before, .sync-toggle::after {
  content: '';
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16'%3E%3Cpath fill='none' stroke-linecap='round' stroke-width='2' stroke='%23fff' d='M1 5a4 4 90 0 1 8 0v4a4 4 90 0 1-8 0zm4 5v5'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16'%3E%3Cpath fill='none' stroke-linecap='round' stroke-width='2' stroke='%23fff' d='M1 5a4 4 90 0 1 8 0v4a4 4 90 0 1-8 0zm4 5v5'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  left: 50%;
  top: -.25rem;
  transition: transform .2s ease;
}

.sync-toggle::before {
  transform: translate(-50%, -.25rem);
}

.sync-toggle::after {
  transform: rotate(180deg) translate(50%, -1.25rem);
}

.sync-toggle:checked::before {
  transform: translate(-50%, 0);
}

.sync-toggle:checked::after {
  transform: rotate(180deg) translate(50%, -1rem);

}

.modal-close {
  outline: none;
  -webkit-appearance: none;
  border: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
  margin: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3E%3Cpath d='m1 5 4-4zm0-4 4 4' stroke-width='1' stroke='%23fff' fill='none'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity .2s ease;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  transition: opacity .2s ease;
}

.number-input button:hover,
.modal-close:hover,
.modal-close:focus,
.drag-area.loading canvas,
.settings-buttons button:not([disabled]):hover,
.sync-toggle:hover,
.toggle-button:hover {
  opacity: .5;
}

.number-control-container {
  display: flex;
  flex-direction: column;
  margin-left: .2rem;
}

.number-input button:after {
  display: block;
  position: absolute;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3E%3Cpath fill='none' stroke-width='1' stroke='%23fff' d='m1 4 2-2 2 2'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  top: 0;
  left: 0;
}

.number-input button.decrement:after {
  transform: rotate(180deg);
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  min-width: 320px;
  min-height: 640px;
  z-index: 2;
}

.modal.show {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #602437;
  margin: 1rem;
  width: 320px;
}

[type=file] {
  border: none;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
